{% extends "getinput.html" %}
{%  load crispy_forms_tags %}
{% block content %}
<section class="container">
    <div class="shadow p-2 bg-white rounded  m-4 bg-lggr d-flex flex-wrap  justify-content-center linergra"
         style="border-radius: 6rem;">
        <h3 class="m-2 text-center font-weight-bold">Education</h3>
    </div>
    <hr class="mx-auto  linergra"/>
        {% for i in data %}
            <div id="del{{ forloop.counter }}">
                <div class="alert alert-warning" role="alert">
                    <div class="d-flex justify-content-around flex-wrap ">
                        <div class="d-flex flex-column justify-content-between flex-wrap ">
                            <h6 class="text-capitalize">Degree</h6>
                            <h6 class="text-capitalize">Start Year</h6>
                            <h6 class="text-capitalize">End Year</h6>
                            <h6 class="text-capitalize">Institute</h6>
                            <h6 class="text-capitalize">Board</h6>
                            <h6 class="text-capitalize">Score</h6>
                        </div>
                        <div class="d-flex flex-column justify-content-between flex-wrap ">
                            <h6 class="text-capitalize">{{ i.qualification }}</h6>
                            <h6 class="text-capitalize">{{ i.start_yr }}</h6>
                            <h6 class="text-capitalize">{{ i.end_yr }}</h6>
                            <h6 class="text-capitalize">{{ i.institution }}</h6>
                            <h6 class="text-capitalize">{{ i.board }}</h6>
                            <h6 class="text-capitalize">{% if i.cgpa is None %}{{ i.percent }}{% else %}{{ i.cgpa }}{% endif %}</h6>
                        </div>
                        <div class="d-flex flex-column flex-wrap my-4" style="max-width: 200px">
                            {#                <button class="mx-3  " data-target="#exampleModalCenter{{ count }}"#}
                            {#                        data-toggle="modal" style="border-radius: 4rem;"#}
                            {#                        type="button">#}
                            <!--<svg data-toggle="modal" data-target="#exampleModalCenter{{ forloop.counter }}"
                                 xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-pencil-square " viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd"
                                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>-->
                            {#                </button>#}
                            {#                <button class="mx-3 " data-target="#exampleModalCentererse{{ count }}"#}
                            {#                        data-toggle="modal" style="border-radius: 4rem;"#}
                            {#                        type="button" onclick="erasedata()">#}
                            <!--<a href = "education/{{ i.id }}"><svg data-toggle="modal"
                                 xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-trash mt-3" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg></a>-->
                        </div>
                    </div>
                </div>


                <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade mow"
                     id="exampleModalCenter{{ forloop.counter }}"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content ">
                            <div class="modal-header whitesm ">
                                <h5 class="modal-title " id="exampleModalCenterTitle">Education</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body whitesm ">
                                <div class="container shadow-sm  rounded whitesm  mx-auto">
                                    <form class="d-flex flex-column flex-wrap " method="post">{% csrf_token %}
                                        {{ edu | crispy }}
                                        <!--<div class="row mx-1 my-3">
                                            <div class="mx-5 custom-control custom-radio custom-control-inline">
                                                <input class="whitesm  custom-control-input" id="customRadioInline1"
                                                       name="customRadioInline1"
                                                       onclick="pursu()" type="radio">
                                                <label class="custom-control-label"
                                                       for="customRadioInline1">Pursuing</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline mx-5 ">
                                                <input class="custom-control-input whitesm " id="customRadioInline2"
                                                       name="customRadioInline1"
                                                       onclick="comple()" type="radio">
                                                <label class="custom-control-label"
                                                       for="customRadioInline2">Completed</label>
                                            </div>
                                        </div>


                                        <div class="form-group mx-5">
                                            <label class="family"
                                                   for="exampleFormControlSelect1">Degree</label>
                                            <input class="form-control inputt whitesm " id="exampleFormControlInput1"
                                                   name="degree"
                                                   value="{{ i.degree }}"
                                                   required
                                                   type="text">
                                        </div>
                                        <div class="form-group mx-5">
                                            <label class="family" for="exampleFormControlInput1">Start
                                                Year</label>
                                            <input class="form-control inputt whitesm " id="exampleFormControlInput1"
                                                   name="syear"
                                                   value="{{ i.start_yr }}"
                                                   required
                                                   type="month">
                                        </div>
                                        <div class="form-group mx-5" id="pursuing_Par">
                                            <label class="family" for="exampleFormControlInput1"><span
                                                    id="pursuing_Chi">Expected End Year</span> </label>
                                            <input class="whitesm  form-control inputt" id="exampleFormControlInput1"
                                                   name="eyear"
                                                   value="{{ i.end_yr }}"
                                                   required
                                                   type="month">
                                        </div>

                                        <div class="form-group mx-5">
                                            <label class="family"
                                                   for="exampleFormControlInput1">Institute</label>
                                            <input class=" whitesm  form-control inputt" id="exampleFormControlInput1"
                                                   name="institute"
                                                   value="{{ i.institute }}"
                                                   required
                                                   type="text">
                                        </div>
                                        <div class="form-group mx-5">
                                            <label class="family" for="exampleFormControlInput1">Score</label>
                                            <input class="form-control inputt whitesm " id="exampleFormControlInput1"
                                                   name="score"
                                                   value="{{ i.score }}"
                                                   required
                                                   type="number">
                                        </div>-->

                                        <div class="align-self-center">
                                            <button class="butn butn-bg px-3 py-2" style="border-radius: 1rem;" type="submit">
                                                <span> Save</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}


    <div class=" my-4">
        <div class=" ">

            <div class="container shadow-sm p-3 mb-5 whitesm rounded ">


                <!-- Button trigger modal -->
                <div class="row ">
                    <button class="butn butn-bg mx-auto addsave hoverbtn  align-self-start"
                            data-target="#exampleModalCenter"
                            style="border-radius: 4rem;" data-toggle="modal"
                            type="button">
                        <span>+ Add Education Details</span>
                    </button>
                </div>

                <!-- Modal -->
                <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade mow"
                     id="exampleModalCenter"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content ">
                            <div class="modal-header whitesm ">
                                <h5 class="modal-title " id="exampleModalCenterTitle">Education</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body whitesm ">
                                <div class="container shadow-sm  rounded whitesm  mx-auto">
                                    <form class="d-flex flex-column flex-wrap " method="post">{% csrf_token %}
                                        {{ edu | crispy }}
                                        <!--div class="row mx-1 my-3">
                                            <div class="mx-5 custom-control custom-radio custom-control-inline">
                                                <input class="whitesm  custom-control-input" id="customRadioInline1"
                                                       name="customRadioInline1"
                                                       onclick="pursu()" type="radio">
                                                <label class="custom-control-label"
                                                       for="customRadioInline1">Pursuing</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline mx-5 ">
                                                <input class="custom-control-input whitesm " id="customRadioInline2"
                                                       name="customRadioInline1"
                                                       onclick="comple()" type="radio">
                                                <label class="custom-control-label"
                                                       for="customRadioInline2">Completed</label>
                                            </div>
                                        </div>


                                        <div class="form-group mx-5">
                                            <label class="family"
                                                   for="exampleFormControlSelect1">Degree</label>
                                            <input class="form-control inputt whitesm " id="exampleFormControlInput1"
                                                   name="degree"
                                                   placeholder="e.g. MBA"
                                                   required
                                                   type="text">
                                        </div>
                                        <div class="form-group mx-5">
                                            <label class="family" for="exampleFormControlInput1">Start
                                                Year</label>
                                            <input class="form-control inputt whitesm " id="exampleFormControlInput1"
                                                   name="syear"
                                                   placeholder=""
                                                   required
                                                   type="month">
                                        </div>
                                        <div class="form-group mx-5" id="pursuing_Par">
                                            <label class="family" for="exampleFormControlInput1"><span
                                                    id="pursuing_Chi">Expected End Year</span> </label>
                                            <input class="whitesm  form-control inputt" id="exampleFormControlInput1"
                                                   name="eyear"
                                                   placeholder=""
                                                   required
                                                   type="month">
                                        </div>

                                        <div class="form-group mx-5">
                                            <label class="family"
                                                   for="exampleFormControlInput1">Institute</label>
                                            <input class=" whitesm  form-control inputt" id="exampleFormControlInput1"
                                                   name="institute"
                                                   placeholder="Your Institute"
                                                   required
                                                   type="text">
                                        </div>
                                        <div class="form-group mx-5">
                                            <label class="family" for="exampleFormControlInput1">Score</label>
                                            <input class="form-control inputt whitesm " id="exampleFormControlInput1"
                                                   name="score"
                                                   placeholder="In PERCENTAGE"
                                                   required
                                                   type="number">
                                        </div>-->

                                        <div class="align-self-center ">

                                            <button class="butn butn-bg px-3 py-2" style="border-radius: 1rem;"
                                                    type="submit"><span>Save</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="d-flex justify-content-center  mx-auto">

                        <a class="  " href="/getinput">
                            <button class="butn butn-bg px-3 py-2" style="border-radius: 1rem;" type="submit"
                            >
                                <span>Back</span>
                            </button>
                        </a>
                        {% if show == True %}
                            <a class="  " href="/work">
                                <button class="butn butn-bg px-3 py-2" style="border-radius: 1rem;" type="submit"
                                >
                                    <span>Next</span>
                                </button>
                            </a>
                        {% endif %}
                        {% if show == False %}
                            <a class="  " href="work">
                                <button class="butn butn-bg  px-3 py-2"
                                        onclick="alert('Please add Educational Details')"
                                        style="border-radius: 1rem;" type="button">
                                    <span>Next</span>
                                </button>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <br/>

            </div>
        </div>
    </div>
</section>
{% endblock %}
    <script>
        function pursu() {

            var p = document.getElementById('pursuing_Chi');
            p.innerHTML = 'Expected End Year';

        }

        function comple() {

            var p = document.getElementById('pursuing_Chi');
            p.innerHTML = 'End Year';

        }

        function erasedata() {
            var c = document.getElementById("exampleFormControlInput1");
            c.innerHTML = 'None';


        }


    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>


