{% extends "getinput.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <main class="row">
    <aside class=" col-md-2 sidebar  col-sm-12 fullbox" style="height: fit-content">
        <div class="list-group whitesm fullbox">
            <a href="#" style="color: bisque" class="whitesm fullbox list-group-item list-group-item-action">
                <h5>Free CV Builder</h5>
            </a>
            <a href="getinput"  class=" whitesm list-group-item fullbox">
                <span class=" headcolor text-justify">Personal Details</span>
            </a>
            <a href="education" class="whitesm fullbox list-group-item text-justify"><span  class=" headcolor">Education Details</span></a>
            <a href="work" class="whitesm list-group-item  fullbox"><span  class=" headcolor text-justify">Work Experiance</span></a>
            <a href="skills" class="whitesm list-group-item  fullbox "><span class=" headcolor text-justify">Skill</span></a>
            <a href="project" style="background-color:  rgb(69,43,141)" class="whitesm list-group-item   "><span class="ml-3 sidecol text-justify">Projects</span></a>
            <a href="extra" class="whitesm list-group-item  fullbox "><span class=" headcolor text-justify">Acadmic Achievents and Awards</span></a>
        </div>
{#        <div class="d-flex flex-column my-5">#}
{#           <div class="borderr py-2 hoverper">#}
{#            <div class="  mx-3">#}
{##}
{#                <a href="getinput" class="text-light"> Personal Details</a>#}
{##}
{#            </div>#}
{#           </div>#}
{##}
{#        </div>#}
    </aside>
    <section class="col-md-9 my-4 col-sm-12">
    <div class="container">
        <div class="shadow p-2 bg-white rounded  m-4 bg-lggr d-flex flex-wrap  justify-content-center linergra"
             style="border-radius: 6rem;">
            <h3 class="m-2 text-center font-weight-bold">Projects</h3>
        </div>
        <hr class="mx-auto linergra"/>



            {% with count=1 %}
                {% for i in data %}
                    <div id="del{{ forloop.counter }}">
                        {#            {{ count|add:'1' }}#}
                        <div class="alert alert-warning" role="alert">
                            <div class="d-flex justify-content-around flex-wrap ">
                                <div class="d-flex flex-column justify-content-between flex-wrap ">
                                    <h6 class="text-capitalize">Projects</h6>
                                    <h6 class="text-capitalize">Duration</h6>
                                    <h6 class="text-capitalize">Project Link</h6>
                                </div>
                                <div class="d-flex flex-column justify-content-between flex-wrap ">
                                    <h6 class="text-capitalize">{{ i.project }}</h6>
                                    <h6 class="text-capitalize">{{ i.start_dt }}-{{ i.end_dt }}</h6>
                                    <h6 class="text-capitalize">{{ i.project_link }}</h6>
                                </div>
                                <div class="d-flex flex-column flex-wrap my-4" style="max-width: 200px">
                                    <svg data-toggle="modal" data-target="#exampleModalCenter{{ forloop.counter }}"
                                         xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                         class="bi bi-pencil-square " viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd"
                                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                    <a href = "project/{{ i.id }}"><svg data-toggle="modal"
                                         xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                         class="bi bi-trash mt-3" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg></a>
                                </div>
                            </div>
                        </div>

                        <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade mow"
                             id="exampleModalCenter{{ forloop.counter }}"
                             role="dialog" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content ">
                                    <div class="modal-header whitesm ">
                                        <h5 class="modal-title " id="exampleModalCenterTitle">Projects
                                        </h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body whitesm ">
                                        <div class="container shadow-sm  rounded whitesm  mx-auto">
                                            <form class="d-flex flex-wrap flex-column" method="post" action = "project/edit/{{ i.id }}">{% csrf_token %}
                                                {{ prjct | crispy }}

                                                {{ prject.instance }}
                                                <!--<div class="form-group mx-5">
                                                    <label class="family" for="exampleFormControlTextarea1">Projects
                                                    </label>
                                                    <textarea name="project" class=" whitesm form-control inpuw"
                                                              id="exampleFormControlTextarea1"
                                                              rows="3"
                                                              style="max-width: 300px;min-width: 150px; "></textarea>
                                                </div>
                                                {#                                            <div class="form-group mx-5">#}
                                                {#                                                <label class="family" for="exampleFormControlTextarea1">Industrial#}
                                                {#                                                    Trainings#}
                                                {#                                                </label>#}
                                                {#                                                <textarea name="industrial" class="form-control whitesm inpuw"#}
                                                {#                                                          id="exampleFormControlTextarea1"#}
                                                {#                                                          rows="3"#}
                                                {#                                                          style="max-width: 300px;min-width: 150px; "></textarea>#}
                                                {#                                            </div>#}
                                                <div class="form-group mx-5">
                                                    <label class=" family" for="exampleFormControlInput1">Project
                                                        Link
                                                    </label>
                                                    <input style="max-width: 300px;min-width: 150px; "
                                                           class="form-control inputt whitesm"
                                                           id="exampleFormControlInput1"
                                                           name="projlink"
                                                           placeholder="Optional"
                                                           type="url"></div>-->
                                                <div class="align-self-center ">
                                                    <button class="butn butn-bg px-3 py-2" style="border-radius: 1rem;"
                                                            type="submit">
                                                        <span> Save</span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}

        <div class="container shadow-sm p-3 mb-5 whitesm rounded">
            <div class="row ">
                <button class="py-2 mx-auto butn-bg butn px-3  hoverbtn  align-self-start"
                        data-target="#exampleModalCenter"
                        style="border-radius: 4rem;" data-toggle="modal"
                        type="button">
                    <span> + Add Projects</span>
                </button>
            </div>
            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade mow" id="exampleModalCenter" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content modcont whitesm">
                        <div class="modal-header whitesm">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Projects
                            </h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body whitesm">
                            <div class="container shadow-sm  rounded whitesm">
                                <form class="d-flex flex-wrap flex-column" method="post">{% csrf_token %}
                                    {{ prjct | crispy }}
                                    <!--<div class="form-group mx-5">
                                        <label class="family" for="exampleFormControlTextarea1">Projects
                                        </label>
                                        <textarea required name="project" class=" whitesm form-control inpuw"
                                                  id="exampleFormControlTextarea1"
                                                  rows="3" style="max-width: 300px;min-width: 150px; "></textarea>
                                    </div>

                                    <div class="form-group mx-5">
                                        <label class=" family" for="exampleFormControlInput1">Project Link
                                        </label>
                                        <input  style="max-width: 300px;min-width: 150px; "
                                               class="form-control inputt whitesm" id="exampleFormControlInput1"
                                               name="projlink"
                                               placeholder="Optional"
                                               type="url"></div>-->
                                    <div class="align-self-center ">
                                        <button class="butn butn-bg px-3 py-2 " style="border-radius: 1rem;"
                                                type="submit">
                                            <span>Save</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="d-flex justify-content-between mx-auto inputt">
                    <a class=" " href="skills">
                        <button class="butn butn-bg px-3 py-2 modbtn" style="border-radius: 1rem;" type="button">
                            <span>Back</span>
                        </button>
                    </a>
                    <a class="  " href="extra">
                        <button class="butn butn-bg px-3 py-2 modbtn" style="border-radius: 1rem;" type="submit">
                            <span> Next</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div></section></main>
{% endblock %}