{% extends "getinput.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="shadow p-2 bg-white rounded  my-4 bg-lggr d-flex flex-wrap  justify-content-center linergra"
             style="border-radius: 6rem;">
            <h3 class="m-2 text-center font-weight-bold">Work Experience</h3>
        </div>
        <hr class="mx-auto linergra"/>

            {% with count=1 %}
                {% for i in data %}
                    <div id="del{{ forloop.counter }}">
                        {#            {{ count|add:'1' }}#}
                        <div class="alert alert-warning" role="alert">
                            <div class="d-flex justify-content-around flex-wrap ">
                                <div class="d-flex flex-column justify-content-between flex-wrap ">
                                    <h6 class="text-capitalize">Type</h6>
                                    <h6 class="text-capitalize">Company</h6>
                                    <h6 class="text-capitalize">Role</h6>
                                    <h6 class="text-capitalize">Duration</h6>
                                    <h6 class="text-capitalize">Description</h6>

                                </div>
                                <div class="d-flex flex-column justify-content-between flex-wrap ">
                                    <h6 class="text-capitalize">{{ i.type }}</h6>
                                    <h6 class="text-capitalize">{{ i.company }}</h6>
                                    <h6 class="text-capitalize">{{ i.role }}</h6>
                                    <h6 class="text-capitalize">{{ i.join_dt }} -{% if i.current == True %}Present{% else %} {{ i.left_dt }}{% endif %}</h6>
                                    <h6 class="text-capitalize text-justify">{{ i.description }}</h6>

                                </div>
                                <div class="d-flex flex-column flex-wrap my-4" style="max-width: 200px">
                                    {#                <button class="mx-3  " data-target="#exampleModalCenter{{ count }}"#}
                                    {#                        data-toggle="modal" style="border-radius: 4rem;"#}
                                    {#                        type="button">#}
                                   <!-- <svg data-toggle="modal" data-target="#exampleModalCenter{{ forloop.counter }}"
                                         xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                         class="bi bi-pencil-square " viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                    {#                </button>#}
                                    {#                <button class="mx-3 " data-target="#exampleModalCentererse{{ count }}"#}
                                    {#                        data-toggle="modal" style="border-radius: 4rem;"#}
                                    {#                        type="button" onclick="erasedata()">#}
                                    <svg data-toggle="modal"
                                         onclick="document.getElementById('del{{ forloop.counter }}').style.display='none'"
                                         xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                         class="bi bi-trash mt-3" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>-->
                                    {#                </button>#}
                                </div>
                            </div>
                        </div>


                        <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade mow"
                             id="exampleModalCenter{{ forloop.counter }}"
                             role="dialog" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content ">
                                    <div class="modal-header whitesm ">
                                        <h5 class="modal-title " id="exampleModalCenterTitle">Education</h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body whitesm ">
                                        <div class="container shadow-sm  rounded whitesm  mx-auto">
                                            <form class="d-flex flex-column flex-wrap " method="post">{% csrf_token %}
                                                <div class="form-group mx-5">
                                                    <label class="family "
                                                           for="exampleFormControlInput1 ">Profile</label>
                                                    <input value="{{ i.profile }}" name="profile"
                                                           class="whitesm form-control inputt "
                                                           id="exampleFormControlInput1"
                                                           placeholder=""
                                                           type="text">
                                                </div>
                                                <div class="form-group mx-5">
                                                    <label class="family" for="exampleFormControlInput1">Title</label>
                                                    <input name="title" class=" whitesm form-control inputt"
                                                           id="exampleFormControlInput1"
                                                           value="{{ i.title }}"
                                                           type="text">
                                                </div>

                                                <div class="form-group mx-5">
                                                    <label class="family"
                                                           for="exampleFormControlTextarea1">Description</label>
                                                    <textarea aria-placeholder="{{ i.description }}" name="description"
                                                              class="form-control whitesm inputt"
                                                              id="exampleFormControlTextarea1"
                                                              rows="5"></textarea>
                                                </div>
                                                <div class="align-self-center ">

                                                    <button class="butn butn-bg px-3 py-2" style="border-radius: 1rem;"
                                                            type="submit">
                                                        <span> Save</span>
                                                    </button>
                                                </div>


                                            </form>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}

        <div class="container shadow-sm p-3 mb-5 whitesm rounded">

            <!-- Button trigger modal -->
            <div class="row ">
                <button class="py-2 mx-auto butn butn-bg px-3  align-self-start" data-target="#exampleModalCenter"
                        style="border-radius: 4rem;" data-toggle="modal"
                        type="button">
                    <span>  + Add Work Experience</span>
                </button>
            </div>

            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade mow"
                 id="exampleModalCenter"
                 role="dialog" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content ">
                        <div class="modal-header whitesm">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Work Experiance</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body whitesm">
                            <div class="container shadow-sm  whitesm rounded ">
                                <form class="d-flex flex-column flex-wrap " method="post">{% csrf_token %}
                                    {{ exp | crispy }}
                                    <!--<div class="form-group mx-5">
                                        <label class="" for="exampleFormControlSelect1">Work Type</label>
                                        <select class="form-control family whitesm" id="exampleFormControlSelect1">
                                            <option class="family">Job</option>
                                            <option class="family">Internship</option>

                                        </select>
                                    </div>

                                    <div class="form-group mx-5">
                                        <label class="family " for="exampleFormControlInput1 ">Profile</label>
                                        <input required name="profile" class="whitesm form-control inputt "
                                               id="exampleFormControlInput1"
                                               placeholder="e.g. Software Developer"
                                               type="text">
                                    </div>
                                    <div class="form-group mx-5">
                                        <label class="family " for="exampleFormControlInput1 ">Company Name</label>
                                        <input required name="" class="whitesm form-control inputt "
                                               id="exampleFormControlInput1"
                                               placeholder="e.g. Protrainy"
                                               type="text">
                                    </div>

                                    {#                               <div class="form-group mx-5">#}
                                    {#                                    <label class="family" for="exampleFormControlInput1">Title</label>#}
                                    {#                                    <input required name="title" class=" whitesm form-control inputt"#}
                                    {#                                           id="exampleFormControlInput1"#}
                                    {#                                           placeholder=""#}
                                    {#                                           type="text">#}
                                    {#                                </div>#}
                                    <div class="form-group mx-5">
                                        <label class="family" for="exampleFormControlInput1">Start Date</label>
                                        <input required name="" class=" whitesm form-control inputt"
                                               id="exampleFormControlInput1"
                                               placeholder=""
                                               type="date">
                                    </div>
                                    <div class="form-group mx-5">
                                        <label class="family" for="exampleFormControlInput1">End Date</label>
                                        <input required name="" class=" whitesm form-control inputt"
                                               id="exampleFormControlInput1"
                                               placeholder="Present"
                                               type="date">
                                    </div>
                                    <div class="form-check form-group form-check-inline mx-5">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                               value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">Currently working
                                            here.</label>
                                    </div>

                                    <div class="form-group mx-5">
                                        <label class="family"
                                               for="exampleFormControlTextarea1">Description</label>
                                        <textarea required name="description" class="form-control whitesm inputt"
                                                  placeholder="Max char. 250" id="exampleFormControlTextarea1"
                                                  maxlength="250" rows="5"></textarea>
                                    </div>-->
                                    <div class="align-self-center ">
                                        <button class="butn butn-bg px-3 py-2 " style="border-radius: 1rem;"
                                                type="submit">
                                            <span>Save</span>
                                        </button>
                                    </div>
                                </form>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="d-flex justify-content-between inputt mx-auto">
                    <a class="mr-5 " href="education">
                        <button class="butn butn-bg px-3 py-2 modbtn" style="border-radius: 1rem;" type="button">
                            <span>  Back</span>
                        </button>
                    </a>
                    <a class="  " href="skills">
                        <button class="butn butn-bg px-3 py-2 hoverbtn modbtn" type="button"
                                style="border-radius: 1rem;"
                                id="nextcha">
                            <span> Next</span>
                        </button>
                    </a>
                </div>
            </div>


        </div>
    </div>
    <script>
        function savecha() {
            var d = document.getElementById('nextcha');
            d.innerHTML = 'Next';
        }
    </script>

{% endblock %}