{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <link href="{% static "resume_maker/style.css" %}" rel="stylesheet">
    <title>Resume</title>
</head>

<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand mx-auto" href="#">
                <img src="{% static "resume_maker/images/wha.jpeg" %}" width="150" height="30" alt="">
            </a></div>
    </nav>

</header>

<div class="container my-5 px-5 ">
    <div class="progress  " id="movebar">
        <div class="progress-bar linergra" role="progressbar" aria-valuenow="50"
             aria-valuemin="0" aria-valuemax="100" style="width:45%">
            <span class="font-weight-bold text-dark">45%</span>

        </div>
    </div>
</div>
<div class="container">
    <div class="shadow p-2 bg-white rounded  m-4 bg-lggr d-flex flex-wrap  justify-content-center linergra"
         style="border-radius: 6rem;">
        <h3 class="m-2 text-center font-weight-bold">Work Experience</h3>
    </div>
    <hr class="mx-auto linergra"/>
    {% if request.method == 'POST' %}
        {% with count=1 %}
            {% for i in list %}
                {#            {{ count|add:'1' }}#}
                <div class="alert alert-warning" role="alert">
                    <div class="d-flex justify-content-around flex-wrap ">
                        <div class="d-flex flex-column justify-content-between flex-wrap ">
                            <h6 class="text-capitalize">Profile</h6>
                            <h6 class="text-capitalize">Title</h6>
                            <h6 class="text-capitalize">Description</h6>

                        </div>
                        <div class="d-flex flex-column justify-content-between flex-wrap ">
                            <h6 class="text-capitalize">{{ i.profile }}</h6>
                            <h6 class="text-capitalize">{{ i.title }}</h6>
                            <h6 class="text-capitalize text-justify">{{ i.description }}</h6>

                        </div>
                        <div class="d-flex flex-column flex-wrap my-4" style="max-width: 200px">
                            {#                <button class="mx-3  " data-target="#exampleModalCenter{{ count }}"#}
                            {#                        data-toggle="modal" style="border-radius: 4rem;"#}
                            {#                        type="button">#}
                            <svg data-toggle="modal" data-target="#exampleModalCenter{{ forloop.counter }}"
                                 xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-pencil-square " viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd"
                                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                            {#                </button>#}
                            {#                <button class="mx-3 " data-target="#exampleModalCentererse{{ count }}"#}
                            {#                        data-toggle="modal" style="border-radius: 4rem;"#}
                            {#                        type="button" onclick="erasedata()">#}
                            <svg data-toggle="modal" data-target="#exampleModalCenter{{ forloop.counter }}"
                                 xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-trash mt-3" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd"
                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                            {#                </button>#}
                        </div>
                    </div>
                </div>


                <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade mow"
                     id="exampleModalCenter{{ forloop.counter }}"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content ">
                            <div class="modal-header whitesm ">
                                <h5 class="modal-title " id="exampleModalCenterTitle">Education</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body whitesm ">
                                <div class="container shadow-sm  rounded whitesm  mx-auto">
                                    <form class="d-flex flex-column flex-wrap " method="post">{% csrf_token %}
                                        <div class="form-group mx-5">
                                            <label class="family "
                                                   for="exampleFormControlInput1 ">Profile</label>
                                            <input value="{{ i.profile }}" name="profile"
                                                   class="whitesm form-control inputt " id="exampleFormControlInput1"
                                                   placeholder=""
                                                   type="text">
                                        </div>
                                        <div class="form-group mx-5">
                                            <label class="family" for="exampleFormControlInput1">Title</label>
                                            <input name="title" class=" whitesm form-control inputt"
                                                   id="exampleFormControlInput1"
                                                   value="{{ i.title }}"
                                                   type="text">
                                        </div>

                                        <div class="form-group mx-5">
                                            <label class="family"
                                                   for="exampleFormControlTextarea1">Description</label>
                                            <textarea aria-placeholder="{{ i.description }}" name="description"
                                                      class="form-control whitesm inputt"
                                                      id="exampleFormControlTextarea1"
                                                      rows="5"></textarea>
                                        </div>
                                        <div class="align-self-center ">

                                            <button class="butn butn-bg px-3 py-2" style="border-radius: 1rem;" type="submit">
                                               <span> Save</span>
                                            </button>
                                        </div>


                                    </form>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endwith %}
    {% endif %}
    <div class="container shadow-sm p-3 mb-5 whitesm rounded">

        <!-- Button trigger modal -->
        <div class="row ">
            <button class="py-2 mx-auto butn butn-bg px-3  align-self-start" data-target="#exampleModalCenter"
                    style="border-radius: 4rem;" data-toggle="modal"
                    type="button">
              <span>  + Add Work Experience</span>
            </button>
        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade mow" id="exampleModalCenter"
             role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content ">
                    <div class="modal-header whitesm">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Work Experiance</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body whitesm">
                        <div class="container shadow-sm  whitesm rounded ">
                            <form class="d-flex flex-column flex-wrap " method="post">{% csrf_token %}
                                <div class="form-group mx-5">
                                    <label class="family " for="exampleFormControlInput1 ">Profile</label>
                                    <input required name="profile" class="whitesm form-control inputt "
                                           id="exampleFormControlInput1"
                                           placeholder=""
                                           type="text">
                                </div>
                                <div class="form-group mx-5">
                                    <label class="family" for="exampleFormControlInput1">Title</label>
                                    <input required name="title" class=" whitesm form-control inputt"
                                           id="exampleFormControlInput1"
                                           placeholder=""
                                           type="text">
                                </div>

                                <div class="form-group mx-5">
                                    <label class="family"
                                           for="exampleFormControlTextarea1">Description</label>
                                    <textarea required name="description" class="form-control whitesm inputt"
                                              id="exampleFormControlTextarea1"
                                              rows="5"></textarea>
                                </div>
                                <div class="align-self-center ">

                                    <button class="butn butn-bg px-3 py-2 " style="border-radius: 1rem;" type="submit"><span>Save</span>
                                    </button>
                                </div>


                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="d-flex justify-content-between inputt mx-auto">
                <a class="mr-5 " href="Education.html">
                    <button class="butn butn-bg px-3 py-2 modbtn" style="border-radius: 1rem;" type="button"
                    >
                      <span>  Back</span>
                    </button>
                </a>
                <a class="  " href="position.html">
                    <button class="butn butn-bg px-3 py-2 hoverbtn modbtn" type="button" style="border-radius: 1rem;" id="nextcha">
                      <span>  {{ Save }}</span>
                    </button>
                </a>
            </div>
        </div>


    </div>
</div>
<script>
    function savecha() {
        var d = document.getElementById('nextcha');
        d.innerHTML = 'Next';
    }
</script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>