{% extends "getinput.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <main class="row">
        <aside class="mt-5 col-md-2 sidebar  col-sm-12 fullbox" style="height: auto">
            <div class="list-group whitesm fullbox">
                <a href="#" style="color: bisque" class="whitesm fullbox list-group-item list-group-item-action">
                    <h5>Free CV Builder</h5>
                </a>
                <a href="getinput" class=" whitesm list-group-item fullbox">
                    <span class=" sidecol text-justify headcolor">Personal Details</span>
                </a>
                <a href="education" class="whitesm fullbox list-group-item text-justify"><span class=" headcolor">Education Details</span></a>
                <a href="work" class="whitesm list-group-item  fullbox"><span class=" headcolor text-justify">Work Experiance</span></a>
                <a href="skills" class="whitesm list-group-item  fullbox "><span
                        class=" headcolor text-justify">Skill</span></a>
                <a href="project" class="whitesm list-group-item  fullbox "><span class=" headcolor text-justify">Projects</span></a>
                <a href="extra" style="background-color:  rgb(69,43,141)" class="whitesm list-group-item   "><span
                        class=" sidecol text-justify">Acadmic Achievents and Awards</span></a>
            </div>
         <!--   {#        <div class="d-flex flex-column my-5">#}
            {#           <div class="borderr py-2 hoverper">#}
            {#            <div class="  mx-3">#}
            {##}
            {#                <a href="getinput" class="text-light"> Personal Details</a>#}
            {##}
            {#            </div>#}
            {#           </div>#}
            {##}
            {#        </div>#}-->
        </aside>
        <section class="col-md-9 my-4 col-sm-12">
            <div class="container">
                <div class="shadow p-2  rounde  my-4 bg-lggr d-flex flex-wrap  justify-content-center linergra"
                >
                    <h3 class="m-2 text-center font-weight-bold">Academic Achievents And Awards<br><span
                            class="optional">(Optional)</span></h3>
                </div>
                <hr class="mx-auto "/>

                {% with count=1 %}
                    {% for i in data %}
                        <div id="del{{ forloop.counter }}">
                          <!--  {#            {{ count|add:'1' }}#}-->
                            <div class="alert alert-warning" role="alert">
                                <div class="d-flex justify-content-around row ">
                                    <div class="d-flex flex-column col col-md-2 ">
                                        <h6 class="text-capitalize">Academic Achievents And Awards</h6>
                                    </div>
                                    <div class="d-flex flex-column col col-md-5 ">
                                        <h6 class="text-capitalize adjusttext">{{ i.achievement }}</h6>
                                    </div>
                                    <div class="d-flex flex-wrap " style="max-width: 200px">

                                        <svg data-toggle="modal" data-target="#exampleModalCenter{{ forloop.counter }}"
                                             xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                             fill="currentColor"
                                             class="bi bi-pencil-square mx-3" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd"
                                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>

                                        <a href="/extra/{{ i.id }}">
                                            <svg data-toggle="modal"
                                                 xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                 fill="currentColor"
                                                 class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd"
                                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </a>
                                        {#                </button>#}
                                    </div>
                                </div>
                            </div>

                            <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade mow"
                                 id="exampleModalCenter{{ forloop.counter }}"
                                 role="dialog" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content ">
                                        <div class="modal-header whitesm ">
                                            <h5 class="modal-title " id="exampleModalCenterTitle">Academic Achievents
                                                And
                                                Awards</h5>
                                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body whitesm ">
                                            <div class="container shadow-sm  rounded whitesm  mx-auto">
                                                <form class=" d-flex flex-column flex-wrap" method="post"
                                                      action="extra/edit/{{ i.id }}">{% csrf_token %}
{#                                                 <!--   <form class=" d-flex flex-column flex-wrap" method="post"><input#}
{#                                                            type="hidden" name="csrfmiddlewaretoken"#}
{#                                                            value="Ser8mJyFaKibPEO4NBnrZJyVqER6qNs6OOr6YKut0WdZo1is62vdIEjfteH9mf82">#}-->


                                                        <div id="div_id_achievement" class="form-group"><label
                                                                for="id_achievement" class=" requiredField">
                                                            Achievement<span class="asteriskField">*</span> </label>
                                                            <div class=""> <textarea name="achievement" cols="40"
                                                                                     rows="10" placeholder="Max 250 words
Keep it to 3-4 points" class="textarea form-control" required="" id="id_achievement">{{ i.achievement }}</textarea></div>
                                                        </div>

                                                        <!--<div class="form-group mx-5">
                                                            <label class="family" for="exampleFormControlTextarea1">Academic
                                                                Achievents And Awards</label>
                                                            <textarea name="academic" class="form-control whitesm inputt"
                                                                      id="exampleFormControlTextarea1"
                                                                      rows="5"></textarea>
                                                        </div>-->


                                                        <div class="align-self-center ">
                                                            <button class="butn-bg butn px-3 py-2 "
                                                                    style="border-radius: 1rem;" type="submit"><span>Save</span>
                                                            </button>
                                                        </div>
                                                    </form>

                                                    <!--<div class="form-group mx-5">
                                                        <label class="family" for="exampleFormControlTextarea1">Academic
                                                            Achievents And Awards</label>
                                                        <textarea name="academic"
                                                                  class="form-control newline whitesm inputt"
                                                                  id="exampleFormControlTextarea1"
                                                                  rows="5"></textarea>
                                                    </div>-->
{#                                                    <div class="align-self-center ">#}
{#                                                        <button class="butn-bg butn px-3 py-2"#}
{#                                                                style="border-radius: 1rem;"#}
{#                                                                type="submit">#}
{#                                                            <span>  Save</span>#}
{#                                                        </button>#}
{#                                                    </div>#}
{#                                                </form>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endwith %}


                <div class="container shadow-sm p-3 mb-5 whitesm rounded">

                    <div class="row ">
                        <button class="py-2 mx-auto butn butn-bg px-3 py-2  align-self-start"
                                data-target="#exampleModalCenter"
                                style="border-radius: 4rem;" data-toggle="modal"
                                type="button">
                            <span>+ Add Academic Achievents And Awards</span>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade mow"
                         id="exampleModalCenter"
                         role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content modcont whitesm">
                                <div class="modal-header whitesm">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Academic Achievents And
                                        Awards</h5>
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container shadow-sm whitesm rounded ">
                                        <form class=" d-flex flex-column flex-wrap" method="post">{% csrf_token %}
                                            {{ ach | crispy }}
                                            <!--<div class="form-group mx-5">
                                                <label class="family" for="exampleFormControlTextarea1">Academic
                                                    Achievents And Awards</label>
                                                <textarea name="academic" class="form-control whitesm inputt"
                                                          id="exampleFormControlTextarea1"
                                                          rows="5"></textarea>
                                            </div>-->


                                            <div class="align-self-center ">
                                                <button class="butn-bg butn px-3 py-2 " style="border-radius: 1rem;"
                                                        type="submit"><span>Save</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="d-flex justify-content-between inputt mx-auto">
                            <a class=" " href="project">
                                <button class="butn-bg butn px-3 py-2  modbtn" style="border-radius: 1rem;"
                                        type="button"
                                >
                                    <span>Back</span>
                                </button>
                            </a>

                            <a class="  " href="site">
                                <button class="butn butn-bg px-3 py-2 modbtn" style="border-radius: 1rem;" type="submit"
                                >
                                    <span>Next</span>
                                </button>
                            </a>


                        </div>


                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
        var input = document.getElementById("exampleFormControlTextarea1");
        input.addEventListener("keyup", function (event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                input.innerHTML = '<br/>';
            }
        });
    </script>

{% endblock %}
